*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
}
.siderbar{
     width: 8%;
     background-color: #191718;
     
}

.siderbar a{
    text-decoration: none;
    color: #AAAAAA;
    font-size: 16px;
    display: list-item;
    padding: 20px;
    border: 1px solid #5C5C5C;
    

}
.content{
    width: 100%;
    
}
.logo{
    padding:20px ;
    text-align: center;
}
.text-content{
    /* text-align: center; */
}
.group1{
    text-align: center;
    width: 100%;
    height: 210px;
    background: #efefef;
    /* margin-left: 60px; */
    left: 20px;
}
.group1 .text-head{
    font-size: 18px;
    padding: 38px;
    
}
.group1 .text-item{
    font-size: 16px;
    
    
}
.group-box{
    display: flex;
    padding-top: 40px;
    align-items: center;
}
.group-item{
     float: left;
     /* position: relative; */
     padding-right: 50px;
    
}

.group-item-modifi{
    margin-top: 36px;
    font-size: 16px;
    
}
.group-item img{
    float: left;
}
.footer{
    border-top: 1px solid #191718;
    margin-top: 12%;

}
.footer-item{
    padding: 20px 0 0 20px;
    font-size: 16px;
}

