*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    text-align: center;
}
.siderbar{
     width: 8%;
     background-color: #191718;
}

.siderbar a{
    text-decoration: none;
    color: #AAAAAA;
    font-size: 16px;
    display: list-item;
    padding: 20px;

}
.content{
    width: 100%;
}
.logo{
    padding:20px ;
}
.group1{
    /* width: 1510px; */
    height: 210px;
    background: #efefef;
    /* margin-left: 70px; */
    left: 20px;
}
.group1 .text-head{
    font-size: 18px;
    padding: 38px;
}
.group1 .text-item{
    font-size: 16px;
    
}
.group-box{
    display: flex;
    padding-top: 40px;
}
.group-item{
    flex-wrap: flex-end;
}