*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background: #fff;
    position: relative;
}
.siderbar{
     width: 100%;
     height: 100vh;
     display: flex;
     text-align: center;
}
.menu{
    width: 10%;
    background-color: #191718;
}
.menu a{
    text-decoration: none;
    color: #AAAAAA;
    font-size: 16px;
    display: list-item;
    padding: 20px;

}
.content{
    float: left;
}